.infobox__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0;
    font-family: 'Inter', Arial, sans-serif;
    white-space: nowrap;
}

@media screen and (max-width: 900px) {
    .infobox__description {
        font-size: 14px;
        line-height: 17px;
        margin-top: 6px;
        text-align: center;
    }
}

@media screen and (max-width:450px) {
    .infobox__description {
        font-size: 12px;
      
    }
}
