.infobox__add-button {
    background-image: url("../../../images/add-button.svg");
    width: 26px;
    height: 26px;
    opacity: 100%;
    border:none;
    cursor: pointer;
    background-position: center;
    background-size: contain;
}

.infobox__add-button:hover {
    opacity: 0.6;
}

.infobox__add-button:active {
    opacity: 0.6;
    width: 24px;
    height: 24px;
}
